.Rproj.user
.Rhistory
.RData
sliding.rsquared.over.models_cache
sliding.rsquared.over.models_files
sliding.rsquared.over.models.output
.directory
data
data.rsq.txt
extracting.mle.for.cores.output
extracting.mle.for.cores_files
*.tar.gz
*.logfile
itas.2015_files
itas.2015_cache
gBLASTerR.Rproj
cluster.log
added.genomes.Rmd
added.genomes.html
added.genomes.md
derby.log
61.genomes/cluster.log
61.genomes/data/*
61.genomes/pred/*
67.genomes/data/*
67.genomes/pred/*
67.genomes.quadruple.model/match/*
67.genomes.quadruple.model/bootstrapped/*
grant.report.end.2015_files
latest.added.genomes_cache
latest.added.genomes_files
minhit.cutoff.distribution_files
log.txt
bootstrapped.models_files
cluster.txt
