.RData
.Rhistory
.bash_history
.directory
.gitconfig
.rstudio
bbh
bh
blastdb
db
genomes
orfs
output
research
tmp
stat/61.genomes/
stat/67.genomes/
stat/added.genomes_files/
stat/drosoph.mismatch.fasta
stat/files/
stat/genomes.gis.txt.clean
stat/itas.2015.output/
stat/itas.2015.outputcore.outsider.barplot
stat/itas.2015.presentation/
stat/report.2015/
